<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <style>
      .row-selected,
      .row-selected td {
        background: #08C !important;
        color: #fff;
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/DT_bootstrap.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Application</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#menu1">menu1</a></li>
              <li><a href="#menu2">menu2</a></li>
              <li><a href="#menu3">menu3</a></li>
              <li><a href="#menu4">menu4</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

<table style="width: 100%"><tbody><tr><td width="50%">

      <p><input type="text" placeholder="Search..." data-bind="value: menu1.localSearch, valueUpdate: 'afterkeydown'"></p>

      <table id="menu1-grid" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-condensed">
        <thead>
          <tr>
            <th><input type="checkbox" data-bind="checked: menu1.checkedAll" /></th>
            <th>id</th>
            <th>name</th>
          </tr>
        </thead>        
        <tbody data-bind="foreach: menu1.filteredListPagged">
          <tr data-bind="click: function(self, event){ if(ui._toLowerCase(event.target.tagName) !== 'input') { $parent.menu1.clickItem($data); } }, attr: { 'class': 'itemid_' + id() }">
            <td><input type="checkbox" data-bind="checked: checked" /></td>
            <td><span data-bind="text: id"></span></td>
            <td><span data-bind="text: name"></span></td>
          </tr>
        </tbody>
      </table>

      <div class="pagination">
        <ul data-bind="template: 'menu1GridPager'">
        </ul>
      </div>

</td><td>

    <div class="view-card" data-bind="visible: (menu1.viewMode() == 'show')">
      <p>id: <span data-bind="text: menu1.viewItem().id"></span></p>
      <p>name: <span data-bind="text: menu1.viewItem().name"></span></p>
      <p><button class="btn" data-bind="click: menu1.edit">Edit info</button></p>
    </div>
    <div class="view-card" data-bind="visible: (menu1.viewMode() == 'empty')">
        select one item to view
    </div>
    <div class="view-card" data-bind="visible: (menu1.viewMode() == 'load')">
        loading...
    </div>

</td></tr></table>

    </div> <!-- /container -->


<script id="menu1GridPager" type="text/html">
  <li><a href="#" data-bind="click: function() { menu1.setPrevPage(); }">Prev</a></li>
  <% for(var i=1; i <= menu1.pages(); i++) { %>    
    <% (function(index) { %>
    <li<%= (menu1.pageIndex() == index) ? ' class="active"' : '' %>><a href="#" data-bind="click: function() { menu1.setPage(index); }"><%= index %></a></li>
    <% })(i); %>
  <% } %>
  <li><a href="#" data-bind="click: function() { menu1.setNextPage(); }">Next</a></li>
</script>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/lib/jquery.js"></script>    
    <script src="js/lib/bootstrap-transition.js"></script>
    <script src="js/lib/bootstrap-alert.js"></script>
    <script src="js/lib/bootstrap-modal.js"></script>
    <script src="js/lib/bootstrap-dropdown.js"></script>
    <script src="js/lib/bootstrap-scrollspy.js"></script>
    <script src="js/lib/bootstrap-tab.js"></script>
    <script src="js/lib/bootstrap-tooltip.js"></script>
    <script src="js/lib/bootstrap-popover.js"></script>
    <script src="js/lib/bootstrap-button.js"></script>
    <script src="js/lib/bootstrap-collapse.js"></script>
    <script src="js/lib/bootstrap-carousel.js"></script>
    <script src="js/lib/bootstrap-typeahead.js"></script>
    <script src="js/lib/json2.js"></script>
    <script src="js/lib/jquery.dataTables.js"></script>    
    <script src="js/lib/bootstrap-datatables.js"></script>
    <script src="js/lib/amplify.js"></script>
    <script src="js/lib/underscore.js"></script>
    <script src="js/lib/backbone.js"></script>
    <script src="js/lib/knockout-2.0.0.debug.js"></script>
    <script src="js/lib/ko.editables.js"></script>
    <script src="js/lib/knockout.bindingHandlers.dataTable.js"></script>
    <script src="js/lib/ko-underscore-templates.js"></script>

    <script src="js/ui.js"></script>
    <script src="js/ui.ajax.js"></script>
    <script src="js/view/ui.view.list.js"></script>
    <script src="js/app.js"></script>

  </body>
</html>
